<!--TODO: Search(specific), Update, Delete-->
<!--TODO: 2. Build an edit html partial with these features -->
<!--TODO: 2.1 able to search for a specific user by user num-->
<!--TODO: 2.2 allow users to edit user first name-->
<!--TODO: 2.3 allow users to delete users-->


<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>TravelGuru User Profile
            <small>Edit</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="user_id">User number:</label>
            <input id="user_id" class="form-control" type="text" name="user_id"
                   placeholder="Enter user number"
                   ng-model="ctrl.user_id"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>User Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>User number</td>
            <td>
                {{ ctrl.result.user_id }}
            </td>
        </tr>
        <tr>
            <td>User First Name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.firstName }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.result.firstName">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateUserName()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>User Last Name</td>
            <td>
                    {{ ctrl.result.lastName }}

            </td>
        </tr>
<!--
        <tr>
            <td>Department</td>
            <td>
                <button type="button" class="btn btn-link btn-sm"
                        ng-disabled="!ctrl.result.empdept_no"
                        ng-click="ctrl.deleteUser()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
            <td>Department Number</td>
            <td>{{ ctrl.result.empdept_no }}</td>
        </tr>
-->
        </tbody>
    </table>
</div>

