<!--TODO: Add ability to choose department when registering an user.-->
<!--TODO: Saving of user in users table and of department in departments table should be-->
<!--TODO: one  transaction (i.e., atomic)-->
<!-- TODO: 1. Allow users to choose a department from a list of users -->

<div ng-controller="RegCtrl as ctrl">
    <div class="page-header">
        <h1>User
            <small>Registration</small>
        </h1>
    </div>
    <br/>

    <form name="regForm" ng-submit="ctrl.register()" autocomplete="off" novalidate>
        <div class="form-group"  ng-class="{ 'has-error': regForm.user_id.$touched && regForm.user_id.$invalid }">

            <label for="user_id">User No:</label>

            <input type="number" id="user_id" name="user_id"
                   class="form-control"
                   ng-model="ctrl.user.user_id"
                   required>

            <div class="help-block" ng-messages="regForm.user_id.$error" ng-if="regForm.user_id.$touched">

                <p ng-message="required">User Number Required</p>
            </div>
        </div>


        <!-- Create  Field for First Name-->
        <div class="form-group" ng-class="{ 'has-error': regForm.firstName.$touched && regForm.firstName.$invalid }">

            <label for="firstName">First name:</label>

            <!--Using the ng-model directive, we perform a 2-way data binding between the user input field and
            the ctrl.user data model. By doing so, we automatically sync the view data and the data model data -->
            <input type="text" id="firstName" name="firstName"
                   class="form-control"
                   ng-model="ctrl.user.firstName"
                   ng-minlength="2"
                   required>

            <div class="help-block" ng-messages="regForm.firstName.$error" ng-if="regForm.firstName.$touched">
                <p ng-message="minlength">First Name Too Short</p>
                <p ng-message="required">First Name Required</p>
            </div>
        </div>


        <!-- Create  Field for Last Name-->
        <div class="form-group"  ng-class="{ 'has-error': regForm.lastName.$touched && regForm.lastName.$invalid }">

            <label for="lastName">Last name:</label>

            <!--Using the ng-model directive, we perform a 2-way data binding between the user input field and
            the ctrl.user data model. By doing so, we automatically sync the view data and the data model data -->
            <input type="text" id="lastName" name="lastName"
                   class="form-control"
                   ng-model="ctrl.user.lastName"
                   ng-minlength=2
                   required>
            <div class="help-block" ng-messages="regForm.lastName.$error" ng-if="regForm.lastName.$touched">
                <p ng-message="minlength">Last Name Too Short</p>
                <p ng-message="required">Last Name Required</p>
            </div>

        </div>

        <!-- Create Buttons to Submit Gender, where only one option can be submited-->
        <div class="form-group"  ng-class="{ 'has-error': regForm.gender.$touched && regForm.gender.$invalid }">

            <label>Gender:</label>

            <!-- When working with radio buttons it is helpful to have a default value selected -->
            <div class="radio">
                <!--Using the ng-model directive, we perform a 2-way data binding between the user input field
                and the ctrl.user data model. By doing so, we automatically sync the view data and the data model
                data -->
                <label for="male" class="radio-inline">
                    <input type="radio" name="gender" id="male"
                           value="M"
                           ng-checked="true"
                           ng-model="ctrl.user.gender"
                    >Male
                </label>

                <label for="female" class="radio-inline">
                    <input type="radio" name="gender" id="female"
                           value="F"
                           ng-model="ctrl.user.gender"
                    >Female
                </label>

            </div>

        </div>
        <!-- Create Date Field to Submit Birthday -->
        <div class="form-group"  ng-class="{ 'has-error': regForm.birthday.$touched && regForm.birthday.$invalid }">

            <label for="birthday">Birthday:</label>

            <!--Using the ng-model directive, we perform a 2-way data binding between the user input field and
            the ctrl.user data model. By doing so, we automatically sync the view data and the data model data -->
            <input type="date" id="birthday" name="birthday"
                   class="form-control"
                   ng-model="ctrl.user.birthday"
                   required>
            <div class="help-block" ng-messages="regForm.birthday.$error" ng-if="regForm.birthday.$touched">
                <p ng-message="required">Birthday Required</p>
            </div>
        </div>

        <!-- Create Date Field to Submit Hire Date -->
<!--        <div class="form-group"  ng-class="{ 'has-error': regForm.joindate.$touched && regForm.joindate.$invalid }">
            <label for="joindate">Join date:</label>

            <input type="date" id="joindate" name="joindate"
                   class="form-control"
                   ng-model="ctrl.user.joindate"
                   required>
            <div class="help-block" ng-messages="regForm.joindate.$error" ng-if="regForm.joindate.$touched">
                <p ng-message="required">Join Date Required</p>
            </div>
        </div>
-->


        <div class="form-group"  ng-class="{ 'has-error': regForm.email.$touched && regForm.email.$invalid }">
            <label for="email">Email:</label>

            <!-- ng-pattern describes the form the input should take -->
            <!-- regEx tells the compliler you will be describing the pattern using a regular expression -->
            <!-- This regular expression checks for valid international phone numbers -->

            <!--Using the ng-model directive, we perform a 2-way data binding between the user input field and
            the ctrl.user data model. By doing so, we automatically sync the view data and the data model data -->
            <input type="text" id="email" name="email"
                   class="form-control"
                   ng-model="ctrl.user.email"
				   placeholder="Enter Email"
                   required/>

            <div class="help-block" ng-messages="regForm.email.$error" ng-if="regForm.email.$touched">
                <p ng-message="required">Email Required</p>
            </div>
        </div>

        <!--TODO: 1.1 Add dropdown box. Display department name.-->
        <!--Dropdown box for list of departments-->
<!--        <div class="form-group"
             ng-class="{ 'has-error': regForm.empDepartment.$touched && regForm.empDepartment.$invalid }">
            <label for="empDepartment">Department:</label>

            <select id="empDepartment" name="empDepartment" class="form-control"
                    ng-options="department.dept_no as department.dept_name for department in ctrl.departments"
                    ng-model="ctrl.user.department" required>
            </select>
            <div class="help-block" ng-messages="regForm.empDepartment.$error" ng-if="regForm.empDepartment.$touched">
                <p ng-message="required">Department Required</p>
            </div>
        </div>
-->

        <br/>
        <!-- Creates button used to submit data -->
        <div class="form-group">
            <!-- The <button> type attribute specifies the behavior of the button. A button with type=submit submits
             form data to the server -->

            <!-- ng-disable removes the ability to submit the button -->
            <!-- regForm.$invalid checks if the input is all valid -->
            <button type="submit" class="btn-success form-control" ng-disabled="regForm.$invalid">
                Register
            </button>
        </div>

    </form>
    <!--Handles status messages-->
    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.code"
         ng-class="{'alert-success': ctrl.status.code == 0, 'alert-danger': ctrl.status.code != 0 }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

		<!-- <p>Error No: {{ ctrl.status.code + " " + ctrl.status.message }}</p> -->

	</div>
</div>
