<!--TODO: Retrieve (retrieve all and eager loading) and insert data from the database.-->
<!--TODO: 7. Create searchDB.html. This partial is similar to the DMS SearchDB and should show: user no, user
 TODO: first name, user last name, destination ID, and destination name. Similar to DMS it should have 2 buttons:
TODO: REQUIREMENTS:
 TODO: 7a first button: retrieve user whose user number, first name, or last name matches query string
 TODO: 7b second button: also retrieve user's current destination's ID and name
  TODO: 7c page is initialized with user number, first name, or last name  of first 100 user records
 -->
<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>TravelGuru
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter first name, last name, or user number">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search User
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForDestination()">
                Search with Destination Info
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User No</th>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th ng-show="ctrl.showDestination">Destination ID</th>
            <th ng-show="ctrl.showDestination">Destination Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in ctrl.users">
            <td><a ng-click="ctrl.goEdit(user.user_id)" style="cursor: pointer;">{{ user.user_id }}</a></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>
            <span ng-show="ctrl.showDestination">
                 <!-- Handles display of users that have no destinations -->
                {{ user.poi_user[0] ? user.poi_user[0].poi_id : " "}}
            </span>
            </td>
            <td>
            <span ng-show="ctrl.showDestination">
                 <!-- Handles display of users that have no destinations -->
                {{ user.poi_user[0]
                ? (user.poi_user[0].destination.city)
                : " "}}
            </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
