<!--TODO: Send and retrieve information from server via Angular $http; modularize via services-->
<!--The ng-controller directive tells Angular the scope of the controller. In this case, the SearchCtrl is given
the scope of the <div> element where it is called. We then use SearchCtrl (as ctrl) to manipulate elements within
this <div>-->

<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>User
            <small>Search</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="userName" class="form-control" type="text"
                   name="userName"
                   ng-model = "ctrl.queryString"
                   size="50"
                   placeholder="Enter User">
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User No</th>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>User Email</th>
       </tr>
        </thead>
        <tbody>
        <tr class="animation" ng-repeat="user in ctrl.users | filter:ctrl.queryString">
            <td>{{ user.userNo }}</td>
            <td>{{ user.userFirstName }}</td>
            <td>{{ user.userLastName }}</td>
            <td>{{ user.userEmail }}</td>
       </tr>
        </tbody>
    </table>
</div>
